.site-header .navbar-brand .logo{
    background: none !important;
    width: 25px;
    background-size: cover;
    display: inline-block;
}
.site-title{
	color: white;
	vertical-align: bottom;
	display: inline-block;
	position: relative;
/*    top: 10%;
    transform: translate(0, -50%);*/
}
.edit-icon, .delete-icon{
    font-size: 20px;
}
.edit-icon{
color: #088990;
margin-right:8px;
}
.delete-icon{
color: #e01212;
}
@media screen and (max-width: 991px) and (min-width: 768px){
    .site-title{
        font-size: 13px;
    }
}

