.site-header .navbar-brand .logo{
    background: none !important;
    width: 25px;
    background-size: cover;
    display: inline-block;
}
.site-title{
	color: white;
	vertical-align: bottom;
	display: inline-block;
	position: relative;
/*    top: 10%;
    transform: translate(0, -50%);*/
}
.edit-icon, .delete-icon, .view-icon{
    font-size: 20px;
}
.edit-icon{
color: #088990;
margin-right:8px;
}
.view-icon {
    color: #0083e4;
    margin-right:8px;
}
.delete-icon{
color: #e01212;
}
@media screen and (max-width: 991px) and (min-width: 768px){
    .site-title{
        font-size: 13px;
    }
}
.pagi-left{
    float: right;
}
/*.table td, .table th{
    border-top: 1px solid #95e0d0;
}
.table thead th{
    border-bottom: 2px solid #95e0d0;
}*/

th.sorting:after{
    content: '' !important;
}
th.sorting_desc:after, th.sorting_asc:after{
    content: '' !important;
}
.delete_image{
    margin-top:5px;
}
select.form-control:not([size]):not([multiple]){
    height: auto !important;
}
.custom-control-description{
        padding-top: 3px;
    display: inline-block;
}
.fearure-image{
    margin: auto;

}
.more-image img{
    margin-right: 15px;
}
.hide{
    display: none;
}
.product-img{
    position: relative;
    display: inline-block;
}
.product-img button{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    border:1px solid #f59345;
    background-color: transparent;
}
.product-img button.cancel{
    position: relative;
    left: unset;
    top: 0;
    transform: unset;
    border: 1px solid #f59345;
    background-color: #f59345;
    margin-top: 10px;
    display: block;
    }
#fearure-image{
    border:2px solid #f59345;
}
.mgb-10{
        margin-bottom: 10px;
}